<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="de.carsten_lenz.liquibasegui.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="RCP Perspective"
            class="de.carsten_lenz.liquibasegui.Perspective"
            id="de.carsten_lenz.liquibasegui.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            class="de.carsten_lenz.liquibasegui.ui.CommandView"
            id="de.carsten_lenz.liquibasegui.commandView"
            name="Command View"
            restorable="true">
      </view>
      <view
            class="de.carsten_lenz.liquibasegui.ui.TestView"
            id="de.carsten_lenz.liquibasegui.ui.TestView"
            name="New ViewPart">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            name="Mail"
            id="de.carsten_lenz.liquibasegui.category">
      </category>
      <command
            name="Open Mailbox"
            description="Opens a mailbox"
            categoryId="de.carsten_lenz.liquibasegui.category"
            id="de.carsten_lenz.liquibasegui.open">
      </command>
      <command
            name="Open Message Dialog"
            description="Open a message dialog"
            categoryId="de.carsten_lenz.liquibasegui.category"
            id="de.carsten_lenz.liquibasegui.openMessage">
      </command>
      <command
            defaultHandler="de.carsten_lenz.liquibasegui.ui.OpenCommandViewHandler"
            id="de.carsten_lenz.liquibasegui.openCommandView"
            name="Open Command View">
      </command>
      <command
            id="de.carsten_lenz.liquibasegui.openRunConfigurations"
            name="Open Liquibase Run-Configurations">
      </command>
      <command
            defaultHandler="de.carsten_lenz.liquibasegui.ui.OpenConsoleViewHandler"
            id="de.carsten_lenz.liquibasegui.openConsole"
            name="Open Console">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="de.carsten_lenz.liquibasegui.open"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+2">
      </key>
      <key
            commandId="de.carsten_lenz.liquibasegui.openMessage"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+3">
      </key>
      <key
            commandId="org.eclipse.ui.file.exit"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+X">
      </key>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="de.carsten_lenz.liquibasegui.application"
            name="Liquibase GUI">
         <property
               name="aboutText"
               value="RCP Mail template created by PDE">
         </property>
         <property
               name="windowImages"
               value="icons/sample2.gif">
         </property>
         <property
               name="aboutImage"
               value="product_lg.gif">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="de.carsten_lenz.liquibasegui.ui.OpenRunConfigurationsHandler"
            commandId="de.carsten_lenz.liquibasegui.openRunConfigurations">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               label="Liquibase">
            <command
                  commandId="de.carsten_lenz.liquibasegui.openCommandView"
                  style="push">
            </command>
            <command
                  commandId="de.carsten_lenz.liquibasegui.openRunConfigurations"
                  style="push">
            </command>
            <command
                  commandId="de.carsten_lenz.liquibasegui.openConsole"
                  style="push">
            </command>
         </menu>
      </menuContribution>
   </extension>

</plugin>
